<app-naglowek></app-naglowek>

<!--Witaj {{username}}-->
<h3 class="text-center badge-success"> Witaj  {{getUserLogged().username}} </h3>
<div class="container-fluid aquamarine">

<!--<div class="alert-warning row">-->
  <!--<div class="col">-->
  <!--Zaliczone kursy: 1-->
  <!--</div>-->
  <!--<div class="col">-->
  <!--Błędnych odpowiedzi: 1-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--Poprawnych odpowiedzi: 1-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--Skutecznosc: 100 %-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--Wykonane kursy: 1-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--Doświatczenie: 1-->
  <!--</div>-->
  <!--<div class="col">-->
    <!--Ranga: amator-->
  <!--</div>-->
<!--</div>-->

  <div class="text-center">
  <img class="img-fluid" src="{{getUserLogged().img}}" style="width: 100px; height: 120px" alt="Card image cap">
  </div>
  <div class="row">
    <div  class="col text-center">
      <h3 class="text-secondary"> Zaliczone kursy: {{getUserLogged().completedCourse}} </h3>
    </div>
    <div class="col text-center">
      <button type="button" [routerLink]="['/kursy', 'przegladaj']"  style="width: 400px" class="btn btn-primary btn-lg"><h3> Dołącz do kursu </h3></button>
    </div>
    <div class="col text-center">
      <h3 class="text-secondary bg-warning"> Punkty: {{getUserLogged().money}} </h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
    <h3 class="text-secondary">  Błędnych odpowiedzi: {{getUserLogged().errorAnswer}} </h3>
    </div>
    <div class="col text-center">
       Kliknij aby dołączyć do istniejącego kursu
    </div>
    <div class="col text-center">
      <h3 class="text-secondary">  Zdobyte doświadczenie: {{getUserLogged().experience}} </h3>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col text-center">
      <h3 class="text-secondary "> Poprawnych odpowiedzi: {{getUserLogged().correctAnswer}} </h3>
    </div>
    <div class="col text-center">
      <button type="button" [routerLink]="['/kursy', 'rozpoczete']" style="width: 400px" class="btn btn-primary btn-lg text-xl-center"><h3> Rozpoczęte kursy </h3></button>
    </div>
    <div class="col text-center">
      <h3 class="text-secondary"> Aktualna ranga: {{getRank()}} </h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h3 class="text-secondary"> Skuteczność: {{getUserLogged().effectiveness}}% </h3>
    </div>
    <div class="col text-center">
      Kliknij aby kontynować naukę na kursach do których jesteś zapisany
    </div>
    <div class="col text-center">
      <h3 class="text-secondary"> Doświadczenie do nast rangi: {{getExperienceNextRand()}} </h3>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-center">
      <h3 class="text-secondary">  Stworzone kursy: {{getUserLogged().createCurses}} </h3>
    </div>
    <div  class="col text-center" >
      <button type="button" (click)="newCourse()" style="width: 400px" class="btn btn-primary btn-lg"><h3> Utwórz kurs </h3></button>
    </div>
    <div class="col text-center">

      <div class="progress">
        <div class="progress-bar bg-info text-primary" role="progressbar" [ngStyle]="getStyleProcent()" aria-valuenow="4" aria-valuemin="40" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      Kliknij aby stworzyć swój własny kurs
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-center" >
      <button type="button" [routerLink]="['/kursy', 'mojeKursy']"  style="width: 400px" class="btn btn-primary btn-lg"><h3> Moje Kursy </h3></button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      Kliknij aby zarządzać swoimi kursami
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-center" >
      <button type="button" routerLink="/przegladaj" style="width: 400px" class="btn btn-primary btn-lg"><h3> Moje Nagrody </h3></button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      Kliknij aby obejrzeć swoje nagroduy
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col text-center" >
    <button type="button" routerLink="/" style="width: 400px" class="btn btn-primary btn-lg" (click)="wyloguj()"> <h3>Wyloguj </h3></button>
    </div>
  </div>
  <div class="col text-center">
    Kliknij aby się wylogować
  </div>

</div>


<app-stopka></app-stopka>
