<app-naglowek></app-naglowek>

<h1> Edytor </h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <div class="alert alert-primary" role="alert">
        Lekcje
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="card text-center text-white bg-secondary mb-3" style="width: 18rem;"
               *ngFor="let lekcja of getStandardLessonEditedCourse(); let standardIndex = index">
            <div class="card-header">
              {{getCategory(lekcja)}}
            </div>
            <div class="card-body">
              <h5 class="card-title ">Nazwa: {{lekcja.name}}</h5>
              <div class="form-group">
                Warunek odblokowania: {{getUnlockIf(lekcja)}}
              </div>
              <div class="container-fluid">
                <div class="row">
                  <div class="col text-center">
                    <button (click)="left(standardIndex,standardIndex-1)"><img class="img-fluid" src="src/app/img/wlewo.png" style="width: 50px; height: 50px">
                    </button>
                    <button (click)="right(standardIndex,standardIndex+1)"><img class="img-fluid" src="src/app/img/wprawo.png" style="width: 50px; height: 50px">
                    </button>
                  </div>
                </div>
              </div>
              <br>
              <button (click)="editLesson(lekcja)" class="btn btn-primary">Edytuj lekcje</button>
              <button (click)="deleteLesson(standardIndex)" class="btn btn-primary">Usuń lekcje</button>

              <!--<div *ngIf="!getLessonUserLoggedUser(lekcja).unlocked">-->
              <div *ngIf="lekcja.idNext===2 || lekcja.idNext===3">
                <p class="card-text">Koszt: {{lekcja.cost}}</p>
              </div>
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-success" role="alert">
        Ciekawostki
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="card text-center text-white bg-secondary mb-3" style="width: 18rem;"
               *ngFor="let lekcja of getExtraLessonEditedCourse(); let extraIndex = index">
            <div class="card-header">
              <div class="form-group">
                <label for="kategoriaExtra">Kategoria</label>
                <select class="form-control" id="kategoriaExtra">
                  <option>Ciekawostka</option>
                  <option>Lekcja</option>
                  <option>Sprawdzian</option>
                </select>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title ">{{lekcja.name}}</h5>
              <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).unlocked">
                <p class="card-text">Aby odblokować ukończ poprzedni poziom lub kup</p>
              </div>
              <div *ngIf="getDataLoggedUserAboutLesson(lekcja).unlocked">
                <!--<p class="card-text">Liczba osób które ukończyło: 2</p>-->

                <div class="form-group">
                  <label for="warunekOdblokowaniaExtra">Warunek odblokowania</label>
                  <select class="form-control small" id="warunekOdblokowaniaExtra">
                    <option>Brak</option>
                    <option>Poprzednia</option>
                    <option>Poprzednia/Zakup</option>
                  </select>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="cenaExtra">Cena:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                  </div>


                </div>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col text-center">
                      <button><img (click)="left(extraIndex,extraIndex+1)" class="img-fluid" src="src/app/img/wlewo.png"
                                   style="width: 50px; height: 50px">
                      </button>
                      <button><img (click)="right(extraIndex,extraIndex+1)" class="img-fluid"
                                   src="src/app/img/wprawo.png" style="width: 50px; height: 50px">
                      </button>
                    </div>
                  </div>
                </div>
                <br>
                <a (click)="getExtraLessonEditedCourse(lekcja)" class="btn btn-primary">Edytuj lekcje</a>
                <a (click)="getExtraLessonEditedCourse(lekcja)" class="btn btn-primary">Usuń lekcje</a>
              </div>
              <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).unlocked">
                <a routerLink="/" class="btn btn-primary">Kup</a>
                <p class="card-text">Koszt: {{lekcja.cost}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="alert alert-danger" role="alert">
        Sprawdziany
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="card text-center text-white bg-secondary mb-3" style="width: 18rem;"
               *ngFor="let lekcja of getTestLessonEditedCourse(); let testIndex = index">
            <div class="card-header">
              <div class="form-group">
                <label for="kategoriaTest">Kategoria</label>
                <select class="form-control" id="kategoriaTest">
                  <option>Sprawdzian</option>
                  <option>Ciekawostka</option>
                  <option>Lekcja</option>
                </select>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title ">{{lekcja.name}}</h5>
              <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).unlocked">
                <p class="card-text">Aby odblokować ukończ poprzedni poziom lub kup</p>
              </div>
              <div *ngIf="getDataLoggedUserAboutLesson(lekcja).unlocked">
                <!--<p class="card-text">Liczba osób które ukończyło: 2</p>-->

                <div class="form-group">
                  <label for="warunekOdblokowaniaTest">Warunek odblokowania</label>
                  <select class="form-control small" id="warunekOdblokowaniaTest">
                    <option>Brak</option>
                    <option>Poprzednia</option>
                    <option>Poprzednia/Zakup</option>
                  </select>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="cenaTest">Cena:</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Sizing example input"
                           aria-describedby="inputGroup-sizing-sm">
                  </div>


                </div>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col text-center">
                      <button><img class="img-fluid" (click)="left(testIndex,testIndex+1)" src="src/app/img/wlewo.png"
                                   style="width: 50px; height: 50px">
                      </button>
                      <button><img class="img-fluid" (click)="left(testIndex,testIndex+1)" src="src/app/img/wprawo.png"
                                   style="width: 50px; height: 50px">
                      </button>
                    </div>
                  </div>
                </div>
                <br>
                <a (click)="getExtraLessonEditedCourse(lekcja)" class="btn btn-primary">Edytuj lekcje</a>
                <a (click)="getExtraLessonEditedCourse(lekcja)" class="btn btn-primary">Usuń lekcje</a>
              </div>
              <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).unlocked">
                <a routerLink="/" class="btn btn-primary">Kup</a>
                <p class="card-text">Koszt: {{lekcja.cost}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active text-center">
          <h4>Menu</h4>
        </a>
        <button class="btn badge-success list-group-item list-group-item-action text-center" [routerLink]="['/edytor-info']"><h5>Edytuj informacje o
          kursie</h5></button>
        <button (click)="newLesson()" class="btn badge-success list-group-item list-group-item-action text-center"><h5>
          Dodaj nową lekcje</h5>
        </button>
        <button class="btn badge-success list-group-item list-group-item-action text-center" (click)="save()"><h5>Zapisz modyfikacje</h5>
        </button>
      </div>
    </div>
  </div>
</div>
<app-stopka></app-stopka>
