<header>

    <img src="src/app/img/logo.png" class="img-fluid">


</header>
<div class="container-fluid">
  <nav *ngIf="isLogged()" class="navbar navbar-light row" style="background-color: #e3f2fd;">

    <div class="col">
      <h6> Zalogowany użytkownik: {{getUserLogged().username}} </h6>
    </div>

    <div class="col">
      <h6> Punkty: {{getMoney()}}</h6>
    </div>

    <div class="col">
      <button class="btn bg-success" [routerLink]="['/konto']">  <h6> Moje konto </h6> </button>
    </div>

    <div class="col">
      <button class="btn bg-success" [routerLink]="['/index']"> <h6> Strona główna </h6> </button>
    </div>

    <div class="col">
      <button class="btn bg-success" (click)="outlogged()"> <h6> Wyloguj </h6> </button>
    </div>

  </nav>
  <nav *ngIf="!isLogged()" class="navbar navbar-light row" style="background-color: #e3f2fd;">
    <div class="col">
      <h6 class="text-secondary"> Nie jestes zalogowany ! </h6>
    </div>
    <div class="col">
    </div>

    <div class="col">
      <!--<button class="btn bg-success">  <h5> Moje kursy </h5> </button>-->
    </div>

    <div class="col">
      <!--<button class="btn bg-success"> <h5> Znajdź kurs </h5> </button>-->
    </div>

    <div class="col">
      <!--<button class="btn bg-success"> <h5> Moje odznaki </h5> </button>-->
    </div>

    <div class="col">
      <button class="btn bg-success"> <h6> Strona główna </h6> </button>
    </div>
  </nav>
</div>
