<app-naglowek></app-naglowek>


<div class="container-fluid aquamarine" style="height: 800px;">
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <div class="jumbotron">
          <h1 class="display-4">Witamy na stronie wspierajacej naukę!</h1>
          <div class="container-fluid">
            <div class="row">
              <img class="img-fluid" src="src/app/img/ok.png" style="width: 50px; height: 50px">
              <h3> Nauka z elementami zabawy </h3>
            </div>

            <div class="row">
              <img class="img-fluid" src="src/app/img/ok.png" style="width: 50px; height: 50px">
              <h3> Ucz się poprzez poprzez kursy z różnych dziedzin </h3>
            </div>
            <div class="row">
              <img class="img-fluid" src="src/app/img/ok.png" style="width: 50px; height: 50px">
              <h3> Zdobywaj punkty </h3>
            </div>
            <div class="row">
              <img class="img-fluid" src="src/app/img/ok.png" style="width: 50px; height: 50px">
              <h3> Odblokowuj kolejne poziomy w kursach </h3>
            </div>
            <div class="row">
              <img class="img-fluid" src="src/app/img/ok.png" style="width: 50px; height: 50px">
              <h3> Materiały zgromadzone w jednym miejscu </h3>
            </div>
            <div class="row">
              <img class="img-fluid" src="src/app/img/ok.png" style="width: 50px; height: 50px">
              <h3> Dziel się wiedzą z innymi samemu tworząc kursy </h3>
            </div>
          </div>
          <hr class="my-4">
          <p>Aby korzystać z funkcjonalności platformy należy założyć konto. Rejestracja oraz wszystkie funcje platformy
            są bezpłatne</p>
          <p>Osoba nieposiadająca konta może jedynie wyszukiwać kursy</p>
          <!--<button routerLink="przegladaj-kursy" class="btn btn-primary btn-lg"  role="button">Zobacz kursy</button>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div *ngIf="!registry">
          <h3> Logowanie </h3>
          <app-panel-logowania></app-panel-logowania>
        </div>
        <div *ngIf="registry">
          <h3> Nowe konto </h3>
          <app-panel-rejestracji></app-panel-rejestracji>
        </div>
        <br>
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active text-center">
            <h4>Menu</h4>
          </a>
          <button (click)="clickLogin()" class="btn badge-success list-group-item list-group-item-action text-center">
            <h5>Logowanie</h5></button>
          <button (click)="clickRegistry()"
                  class="btn badge-success list-group-item list-group-item-action text-center"><h5>Załóż konto</h5>
          </button>
          <button [routerLink]="['/kursy', 'przegladaj']"
                  class="btn badge-success list-group-item list-group-item-action text-center"><h5>Zobacz kursy</h5>
          </button>
        </div>
      </div>
    </div>
  </div>
  <app-stopka></app-stopka>
</div>
