

<form (submit)="zarejestrujKlik($event)" name="form1">
  <div class="input">
    <label>Wpisz nazwe użytkownika</label>
    <input type="text" name="username" [(ngModel)]="username" >
    <div *ngIf="errorExist">
      Wpisana nazwa użytkownia już instnieje.
    </div>
    <br>
  </div>
  <div class="input">
    <label>Wpisz Hasło</label>
    <input type="password" name="password" [(ngModel)]="password"  >
  </div>
  <div class="input">
    <label>Powtórz Hasło</label>
    <input type="password" name="rep_username" [(ngModel)]="rep_password">
  </div>
  <div *ngIf="errorNoTheSame">
    Hasła nie są identyczne.
  </div>
  <!--<div class="custom-select">-->

  <img *ngIf="plec==='Mężczyzna'" name="m" class="img-fluid" src="src/app/img/profil.png" style="width: 50px; height: 50px">
  <img *ngIf="plec==='Kobieta'" name="k" class="img-fluid" src="src/app/img/profil2.png" style="width: 50px; height: 50px">
  <div class="form-group" name="plec" [(ngModel)]="plec" ngDefaultControl>
    <label for="selectPlec">Wybierz obrazek</label>
    <select class="form-control" (click)="wyborPlci($event)"  id="selectPlec">
      <option>Mężczyzna</option>
      <option>Kobieta</option>
    </select>
  </div>
  <!--</div>-->
  <div class="input text-center">

    <div *ngIf="errorNoDate">
      Proszę uzupelnić wszystkie pola.
    </div>


    <input type="submit" name="button" class="btn btn-primary" value="Utwórz konto">
  </div>
</form>

