<app-naglowek></app-naglowek>

<h3>{{getSelectedLessonCourse().name}} <span class="badge badge-secondary">{{getStringTypeSelectedLessonCourse()}}</span></h3>

<div [ngClass]="getStatusColor()" role="alert">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <p> Do zdobycia: {{getPktMaxLoggedUserForSelectedLessonCourse()}} monet</p>
        <p> Poprawnych odpowiedzi: {{getDataLoggedUserAboutLessonSelectLessonCourse().correctQuestion}}</p>
        <p> Blednych odpowiedzi: {{getDataLoggedUserAboutLessonSelectLessonCourse().errorQuestion}}</p>
      </div>
      <div class="col">
        <p> Status: {{getStringStatus()}}</p>
        <p>  Podjętych prób: {{getDataLoggedUserAboutLessonSelectLessonCourse().trials}} </p>
      </div>
      <div class="col">
         Dodatkowa nagroda:
        <br>
        <div class="media">
          <img src="src/app/img/szmaragd.jpeg" style="height: 70px; width: 70px" class="m-2" alt="...">
          <div class="media-body">
            <p class="mt-0">Szmaragd</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" (click)="clickCommit()" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-lg btn-block">{{getButtonStringZatwierdz()}}</button>
<p class="text-">Uwaga! W przypadku błedów, liczba możliwych do wygrania monet zmniejszy się. Nacisnij po zaznaczeniu odpowiedzi we wszystkich testach
<br>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <div *ngFor="let card of getArrayElementSelectedCourseLesson()">
        <li class="nav-item">
         <h4> <button [ngClass]="setClassActiveCard(card.id)" class="bg-info " (click)="clikCard(card.id)">{{card.name}}</button> </h4><!--<a class="btn nav-link" (click)="active_card_index=card.id">{{card.elementLesson.name}}</a>-->
        </li>
      </div>
    </ul>
  </div>

  <div class="card-body">
    <div class="card-text" [innerHTML]="getActiveCard().content"></div>
    <div *ngFor="let question of getArrayQuestionsActiveCard(); let i = index;">
      <div class="input-group" style="width: 18rem;">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <div class="container">
              <button type="text" class=" btn-info">
                <h4> {{question.content}}
                <span class="badge badge-light">{{question.pkt}}</span> </h4>
              </button>
              <div *ngFor="let answer of getArrayAnswerQuestion(question);" class="row checkbox align-self-center">
                <label>
                  <h5> <input [(ngModel)]="answer.odp" type="checkbox">  {{answer.content}} </h5>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>





<!--<div class="accordion" id="accordionExample">-->
<!--<div class="card">-->
<!--<div class="card-header" id="headingOne">-->
<!--<h5 class="mb-0">-->
<!--<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--Collapsible Group Item #1-->
<!--</button>-->
<!--</h5>-->
<!--</div>-->

<!--<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">-->
<!--<div class="card-body">-->
<!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header" id="headingTwo">-->
<!--<h5 class="mb-0">-->
<!--<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
<!--Collapsible Group Item #2-->
<!--</button>-->
<!--</h5>-->
<!--</div>-->
<!--<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">-->
<!--<div class="card-body">-->
<!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header" id="headingThree">-->
<!--<h5 class="mb-0">-->
<!--<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
<!--Collapsible Group Item #3-->
<!--</button>-->
<!--</h5>-->
<!--</div>-->
<!--<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">-->
<!--<div class="card-body">-->
<!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<app-stopka></app-stopka>
