<app-naglowek></app-naglowek>

<div class="container-fluid">
  <h1> Edytor </h1>
  <div class="row">
    <div class="col-9">
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
        </div><span class="input-group-text">Nazwa kursu:</span>
        <input type="text" style="width: 50px" [(ngModel)]="getEditedCourse().name" class="form-control">
      </div>
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Opis kursu:</span>
        </div>

        <input type="text" style="width: 50px" [(ngModel)]="getEditedCourse().description" class="form-control"
               value="fizyka.jpg">
      </div>
      <div class="form-group ">
        <div class="input-group-prepend input-group-lg">
          <span class="input-group-text">Wybierz obrazek widoczny przy kursie</span>
        </div>
        <input type="file" (change)="getFiles($event)" class="form-control-file form-control-lg"
               id="exampleFormControlFile1" #downloadfile>
      </div>
      <!--<img *ngIf="isGold(getEditedCourse())" class="img-fluid" src="src/app/img/zloto.png"-->
      <!--style="width: 50px; height: 50px">-->

      <!--<div class="form-check form-control-lg">-->
      <!--<input class="form-check-input" type="radio" id="b1" value="braz" [(ngModel)]="braz">-->
      <!--<label class="form-check-label" for="b1">-->
      <!--Braz (darmowy)-->
      <!--</label>-->
      <!--<br>-->
      <!--<input class="form-check-input" type="radio" id="s1" value="srebro" [(ngModel)]="srebro">-->
      <!--<label class="form-check-label" for="s1">-->
      <!--Srebro (koszt 1000 pkt)-->
      <!--</label>-->
      <!--<br>-->
      <!--<input class="form-check-input" type="radio" id="z1" value="zloto" [(ngModel)]="zloto">-->
      <!--<label class="form-check-label" for="z1">-->
      <!--Zloto (koszt 3000 pkt)-->
      <!--</label>-->
      <!--</div>-->

      <input class="form-check-input m-2" type="checkbox" value="" id="checkPassword" [(ngModel)]="requiredPassword">
      <label class="form-check-label m-4" for="checkPassword">
        Wymagane haslo
      </label>
 <br>
      <div *ngIf="requiredPassword">
      <div class="input-group input-group mb-3">
        <div class="input-group-prepend">
        </div><span class="input-group-text">Hasło wymagane do zapisu</span>
        <input type="text" style="width: 50px" [(ngModel)]="getEditedCourse().password" class="form-control">
      </div>
      </div>


      <input class="form-check-input m-2" type="checkbox" value="" id="checkCost"  [(ngModel)]="requiredCost">
      <label class="form-check-label m-4" for="checkCost">
        Wymagane opłata do zapisu
      </label>

      <div *ngIf="requiredCost">
        <div class="input-group input-group mb-3">
          <div class="input-group-prepend">
          </div><span class="input-group-text">Opłata za zapis</span>
          <input type="text" style="width: 50px" [(ngModel)]="getEditedCourse().cost" class="form-control">
        </div>
      </div>

      <br>
      <div class="input-group-prepend input-group-lg">
        <span class="input-group-text">Wybierz Rangę</span>
      </div>
      <div class="form-group">
        <select class="form-control" id="ranga" (change)="setRank()" [(ngModel)]="rank">
          <option>Braz (darmowa)</option>
          <option>Srebro (Wymagana opłata 1000 punktów)</option>
          <option>Złoto (Wymagana opłata 3000 punktów)</option>
        </select>
      </div>

      <!--<div class="form-check form-control-lg">-->
      <!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" [(ngModel)]="braz">-->
      <!--<label class="form-check-label" for="exampleRadios1">-->
      <!--Braz (darmowy)-->
      <!--</label>-->
      <!--<br>-->
      <!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" [(ngModel)]="srebro">-->
      <!--<label class="form-check-label" for="exampleRadios1">-->
      <!--Srebro (koszt 1000 pkt)-->
      <!--</label>-->
      <!--<br>-->
      <!--<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" checked>-->
      <!--<label class="form-check-label" for="exampleRadios1">-->
      <!--Zloto (koszt 3000 pkt)-->
      <!--</label>-->
      <!--</div>-->

      <br>
      <div class="input-group-prepend input-group-lg">
        <span class="input-group-text">Wybierz Kategorię kursu</span>
      </div>

      <div class="form-group">
        <select class="form-control" id="kategoria" [(ngModel)]="category">
          <option *ngFor="let c of categoryPacket">{{c.name}}</option>
        </select>
      </div>


      <br><br>
      <div class="input-group-prepend input-group-lg">
        <span class="input-group-text">Utwórz nową kategorie</span>
      </div>
      <input type="text" style="width: 500px" [(ngModel)]="categoryNew" class="form-control">
      <button class="btn btn-primary" (click)="addCategory()"> Dodaj kategorię</button>
    </div>
    <div class="col-3">
      <div>
        <h4><span>Podgląd</span></h4>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="card" style="width: 23rem;">
                <img class="card-img-top" src="{{getEditedCourse().img}}" alt="Brak obrazka">
                <div class="card-body">
                  <h5 class="card-title" style="height: 2rem;">{{getEditedCourse().name}}</h5>
                  <p class="card-text" style="height: 4rem;">Opis: {{getEditedCourse().description}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Autor: {{getEditedCourse().autor.username}}</li>

                  <!--<div class="row">-->


                    <li class="list-group-item">Ranga:
                      <div *ngIf="isBronze(getEditedCourse())">
                        <img class="img-fluid" src="src/app/img/braz.png" style="width: 50px; height: 50px">
                      </div>
                      <div *ngIf="isSilver(getEditedCourse())">
                        <img class="img-fluid" src="src/app/img/srebro.png" style="width: 50px; height: 50px">
                      </div>
                      <div *ngIf="isGold(getEditedCourse())">
                        <img class="img-fluid" src="src/app/img/zloto.png" style="width: 50px; height: 50px">
                      </div>
                    </li>
                    <!--</div>-->
                  <!--<li class="list-group-item">Data dodania: {{objDate | date :'mediumTime'}}</li>-->

                  <!--<li class="list-group-item text-secondary" >Ocena: {{getEditedCourse().rate}}/5</li>-->
                  <div *ngIf="requiredPassword">
                  <li class="list-group-item text-danger">Wymagane hasło</li>
                  </div>
                  <div *ngIf="requiredCost">
                  <li class="list-group-item text-danger">Koszt zapisu {{getEditedCourse().cost}} punktów</li>
                  </div>
                </ul>
                <div class="card-body">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isExist()">
        <button (click)="deleteCourse(getIdCourseEdit())" class="btn btn-success">Usuń Kurs</button>
      </div>

      <button (click)="saveCourse()" class="btn btn-success">Zapisz Kurs</button>
      <div *ngIf="isSilver(getEditedCourse())">
        Opłata 1000 punktów
      </div>
      <div *ngIf="isGold(getEditedCourse())">
        Opłata 3000 punktów
      </div>
    </div>
  </div>
</div>
<app-stopka></app-stopka>

