
<form (submit)="zalogujKlik($event)">
  <div class="input">
    <label>Nazwa użytkownika</label>
    <input type="text" id="username">
    <br>
  </div>
  <div class="input">
    <label>Hasło</label>
    <input type="password" id="password">
  </div>
  <br>
  <div class="input text-center">
    <input type="submit" class="btn btn-primary" value="Zaloguj">
  </div>
</form>

