<app-naglowek></app-naglowek>
<!--<div class="dropdown-menu p-4 text-muted" style="max-width: 200px;">-->
<!--<p>-->
<!--Some example text that's free-flowing within the dropdown menu.-->
<!--</p>-->
<!--<p class="mb-0">-->
<!--And this is more example text.-->
<!--</p>-->
<!--</div>-->
<!--<button (click)="test()">Test</button>-->
<!--<h3>{{getEditedLesson().name}} <span class="badge badge-secondary">{{getStringTypeSelectedLessonCourse()}}</span></h3>-->
<!--<div [ngClass]="getStatusColor()" role="alert">-->
<!--<div class="container-fluid">-->
<!--<div class="row">-->
<!--<div class="col">-->
<!--<p> Do zdobycia: {{getPktMaxLoggedUserForSelectedLessonCourse()}} monet</p>-->
<!--<p> Poprawnych odpowiedzi: {{getDataLoggedUserAboutLessonSelectLessonCourse().correctQuestion}}</p>-->
<!--<p> Blednych odpowiedzi: {{getDataLoggedUserAboutLessonSelectLessonCourse().errorQuestion}}</p>-->
<!--</div>-->
<!--<div class="col">-->
<!--<p> Status: {{getStringStatus()}}</p>-->
<!--<p>  Podjętych prób: {{getDataLoggedUserAboutLessonSelectLessonCourse().trials}} </p>-->
<!--</div>-->
<!--<div class="col">-->
<!--Dodatkowa nagroda:-->
<!--<br>-->
<!--<div class="media">-->
<!--<img src="src/app/img/szmaragd.jpeg" style="height: 70px; width: 70px" class="m-2" alt="...">-->
<!--<div class="media-body">-->
<!--<p class="mt-0">Szmaragd</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"> Zatwierdz i sprawdz</button>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--<div class="progress">-->
<!--<div class="progress-bar" role="progressbar"-->
<!--style="width: 24%;" aria-valuenow="25"-->
<!--aria-valuemin="0" aria-valuemax="100">{{getDataLoggedUserAboutLessonSelectLessonCourse().result}}%-->
<!--</div>-->
<!--</div>-->
<!--<button type="button" (click)="clickCommit()" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary btn-lg btn-block">{{getButtonStringZatwierdz()}}</button>-->
<!--<p class="text-">Uwaga! W przypadku błedów, liczba możliwych do wygrania monet zmniejszy się. Nacisnij po zaznaczeniu odpowiedzi we wszystkich testach-->
<!--<br>-->

<!--<h5 class="card-title ">{{lekcja.name}}</h5>-->

<div class="container-fluid">
  <div class="form-group">
    <h3>Edycja lekcji</h3>
    <div class="row bg-info">

      <div class="col-3">
        <label for="nazwa">Nazwa lekcji</label>
        <input type="text" id="nazwa" class="form-control" (change)="test()" [(ngModel)]="getEditedLesson().name">
      </div>


      <div class="col-3">
        <label for="kategoriaLekcja">Kategoria</label>
        <select class="form-control" id="kategoriaLekcja" [(ngModel)]="category"  (change)="refreshCategory()">
          <option>Lekcja</option>
          <option>Ciekawostka</option>
          <option>Sprawdzian</option>
        </select>
      </div>


      <div class="col-3">
        <label for="warunekOdblokowaniaLekcja">Warunek odblokowania</label>
        <select class="form-control small" id="warunekOdblokowaniaLekcja" [(ngModel)]="unlockIf" (change)="refreshIf()">
          <option>Brak</option>
          <option>Poprzednia</option>
          <option>Poprzednia/Zakup</option>
          <option>Zakup</option>
        </select>
      </div>


      <div *ngIf="isBuy()">
        <label for="cena">Cena</label>
        <input type="text" id="cena" [(ngModel)]="getEditedLesson().cost" class="form-control">
      </div>


    </div>


    <div class="row">
      <div class="col-6">
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <div *ngFor="let card of getArrayElementEditedCourseLesson(); let elementId=index">
                <li class="nav-item">
                  <h4>
                    <button [ngClass]="setClassActiveCard(elementId)" class="bg-info " (click)="clikCard(elementId)">
                      {{card.name}}
                    </button>
                  </h4>
                </li>
              </div>
            </ul>
          </div>

          <div *ngIf="isDisplay()">
            <div class="card-body">
              <div class="card-text" [innerHTML]="getActiveCard().content"></div>
              <div *ngFor="let question of getArrayQuestionsActiveCard(); let questionID = index;">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <div class="container" style="width: 50rem;">
                        <h4> {{question.content}}</h4>
                        <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Treść pytania:</span>
                          </div>

                          <textarea [(ngModel)]="question.content" class="form-control"
                                    aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                </textarea>
                          <!--<input type="text" data-spy="scroll" [(ngModel)]="question.content" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">-->

                        </div>
                        <label>
                          <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Punkty do zdobycia:</span>
                            </div>

                            <input type="text" style="width: 50px" [(ngModel)]="question.pkt" class="form-control"
                                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

                          </div>
                        </label>
                        <div *ngFor="let answer of getArrayAnswerQuestion(question) let answerId=index;"
                             class="row checkbox align-self-center">
                          <!--<label>-->
                          <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Odp:</span>
                            </div>
                            <input type="text" [(ngModel)]="answer.content" class="form-control"
                                   aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-sm">
                            <p> Poprawna: </p>
                            <h5><input [(ngModel)]="answer.good" type="checkbox"></h5>
                            <button type="button" class="btn btn-primary" (click)="deleteAnswer(question,answerId)">Usuń
                              odpowiedź
                            </button>
                          </div>
                          <!--</label>-->

                        </div>
                        <button type="button" class="btn btn-primary" (click)="addAnswer(question)">Dodaj nową
                          odpowiedź
                        </button>

                        <button type="button" class="btn btn-primary" (click)="deleteQuestion(questionID)">Usuń
                          pytanie
                        </button>
                      </div>
                      <!--<label>{{question.content}}</label>-->
                      <!--<input type="radio" *ngFor="question." aria-label="Radio button for following text input">-->
                    </div>
                  </div>
                  <!--<input type="text" class="form-control" aria-label="Text input with radio button">-->
                </div>
              </div>
              <!--<div *ngIf="isActiveIsElementQuestion()">-->
              <!--<button (click)="test()" class="btn btn-primary ">Zatwierdz i sprawdz</button>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div *ngIf="isDisplay()">


          <h2> Edytor strony</h2>


            <div class="input-group-prepend">
              <span class="input-group-text justify-content-center" style="width: 520px">Nazwa rozdziału:</span>
            </div>
            <input type="text" style="width: 520px " class="form-control form-control"
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="getActiveCard().name">
          <div class="input-group-prepend">
            <br>
            <span class="input-group-text justify-content-center" style="width: 520px">Zawartość:</span>
          </div>
          <textarea [(ngModel)]="getActiveCard().content" style="height: 550px; width: 520px">  </textarea>
        </div>
      </div>
      <div class="col-2">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active text-center">
            <h4>Menu</h4>
          </a>
          <button class="btn badge-success list-group-item list-group-item-action text-center"
                  (click)="addNewElement()"><h5>Dodaj nowy rozdział</h5></button>

          <!--<div class="input-group input-group-sm mb-3">-->
            <!--<div class="input-group-prepend">-->
              <!--<span class="input-group-text">Nazwa rozdziału:</span>-->
            <!--</div>-->
            <!--<input type="text" style="width: 50px" class="form-control form-control-lg"-->
                   <!--aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="nameElement">-->
          <!--</div>-->

          <button class="btn badge-success list-group-item list-group-item-action text-center"
                  (click)="deleteElement(active_card_index)">
            <h5>Usuń rozdział</h5>
          </button>

          <button class="btn badge-success list-group-item list-group-item-action text-center" (click)="addQuestion()">
            <h5>Dodaj pytanie do
              rozdziału</h5>
          </button>


          <!--<div class="input-group input-group-sm mb-3">-->
            <!--<div class="input-group-prepend">-->
              <!--<span class="input-group-text">Treść pytania:</span>-->
            <!--</div>-->
            <!--<input type="text" style="width: 50px" class="form-control form-control-lg"-->
                   <!--aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm"-->
                   <!--[(ngModel)]="contentQuestion">-->
          <!--</div>-->
          <button class="btn-success btn badge-success list-group-item list-group-item-action text-center " (click)="save()"><h5>
            Zapisz
            modyfikacje</h5>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="accordion" id="accordionExample">-->
<!--<div class="card">-->
<!--<div class="card-header" id="headingOne">-->
<!--<h5 class="mb-0">-->
<!--<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
<!--Collapsible Group Item #1-->
<!--</button>-->
<!--</h5>-->
<!--</div>-->

<!--<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">-->
<!--<div class="card-body">-->
<!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header" id="headingTwo">-->
<!--<h5 class="mb-0">-->
<!--<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
<!--Collapsible Group Item #2-->
<!--</button>-->
<!--</h5>-->
<!--</div>-->
<!--<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">-->
<!--<div class="card-body">-->
<!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header" id="headingThree">-->
<!--<h5 class="mb-0">-->
<!--<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
<!--Collapsible Group Item #3-->
<!--</button>-->
<!--</h5>-->
<!--</div>-->
<!--<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">-->
<!--<div class="card-body">-->
<!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<app-stopka></app-stopka>
