<app-naglowek></app-naglowek>

<div *ngIf='mode==="browse"'>
<h1> Kursy użytkowników </h1>
</div>

<div *ngIf='mode==="edit"'>
  <h1> Moje wykonane kursy </h1>
</div>

<div *ngIf='mode==="study"'>
  <h1> Kursy do których jestem zapisany </h1>
</div>

<div class="container-fluid">

  <div class="container">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Wyszukaj</button>
      </div>
      <input type="text" [(ngModel)]="textSearch" (input)="search()" class="form-control" placeholder="" aria-label="Example text with button addon"
             aria-describedby="button-addon1">
    </div>





    Hasło:
    <input type="text" style="width: 300px" [(ngModel)]="passwordField" class="form-control">


    <div class="container">
      Wyszukuj w:
      <div class="row">
        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkNazwyKursow" [(ngModel)]="checkNazwyKursow">
            <label class="form-check-label" for="checkNazwyKursow">
              Nazwach kursów
            </label>
          </div>
        </div>


        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkAutorzy" [(ngModel)]="checkAutorzy">
            <label class="form-check-label" for="checkAutorzy">
              Autorach
            </label>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkOpisy" [(ngModel)]="checkOpisy">
            <label class="form-check-label" for="checkOpisy">
              Opisach
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <div class="row">

        <div class="card" style="width: 23rem;" *ngFor="let course of getCourseDisplay()">

          <img class="card-img-top" src="{{course.img}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="height: 2rem;">{{course.name}}</h5>
            <p class="card-text" style="height: 4rem;">Opis: {{course.description}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Autor: {{course.autor.username}}</li>

            <li class="list-group-item">Ranga:
              <div *ngIf="isBronze(course)">
                <img class="img-fluid" src="src/app/img/braz.png" style="width: 50px; height: 50px">
              </div>
              <div *ngIf="isSilver(course)">
                <img class="img-fluid" src="src/app/img/srebro.png" style="width: 50px; height: 50px">
              </div>
              <div *ngIf="isGold(course)">
                <img class="img-fluid" src="src/app/img/zloto.png" style="width: 50px; height: 50px">
              </div>
            </li>
            <!--</div>-->

            <!--<li class="list-group-item text-secondary" >Ocena: {{course.rate}}/5</li>-->
            <div *ngIf="isPassword(course)">
              <li class="list-group-item text-danger">Wymagane hasło</li>
            </div>
            <div *ngIf="isPay(course)">
              <li class="list-group-item text-danger">Koszt zapisu {{course.cost}} punktów</li>
            </div>

            <!--<li class="list-group-item">Data dodania: 2018-01-01</li>-->
          </ul>
          <div class="card-body">
            <button *ngIf="getCourseUserStatus(course)==2" (click)="startEdit(course.id)" class="card-link btn btn-primary">Edytuj</button>
            <button *ngIf="getCourseUserStatus(course)==0" (click)="saveUserToCourse(course.id)" class="card-link btn btn-primary">Zapisz sie na kurs</button>
            <button *ngIf="getCourseUserStatus(course)==1" (click)="continueStudy(course.id)" class="card-link btn btn-primary">Kontynuuj naukę</button>
          </div>
        </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="list-group">
          <div class="list-group-item list-group-item-action active">
            Kategorie
          </div>
          <div (click)="refreshCourses()" class="btn badge-success list-group-item list-group-item-action">Wszystkie</div>
          <div *ngFor="let kategoria of courseCategory">
          <div (click)="clickFilterCategories(kategoria)" class="btn badge-success list-group-item list-group-item-action">{{kategoria.name}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-stopka></app-stopka>
