<app-naglowek></app-naglowek>


<div class="alert alert-primary" role="alert">
  Lekcje
</div>

<div class="container-fluid">
  <div class="row">
    <div class="card text-center text-white bg-secondary mb-3" style="width: 18rem;"
         *ngFor="let lekcja of getStandardLessonSelectedCourse()">
      <div class="card-header">Lekcja</div>
      <div class="card-body">
        <h5 class="card-title ">{{lekcja.name}}</h5>
        <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).unlocked">
          <p class="card-text">Aby odblokować ukończ poprzedni poziom lub kup</p>
        </div>
        <div *ngIf="getDataLoggedUserAboutLesson(lekcja).unlocked">
          <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).completed">
          <p class="card-text bg-danger text-center">Lekcja Nieukończona</p>
          </div>
          <div *ngIf="getDataLoggedUserAboutLesson(lekcja).completed">
            <p class="card-text bg-success text-center">Lekcja Ukończona</p>
          </div>
          <a (click)="setSelectedLessonCourse(lekcja)" class="btn btn-primary">Rozpocznij</a>
        </div>
        <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).unlocked">
          <button (click)="buy(lekcja.id,lekcja.cost)" class="btn btn-primary">Kup</button>
          <p class="card-text">Koszt: {{lekcja.cost}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success" role="alert">
  Ciekawostki
</div>

<div class="container-fluid">
  <div class="row">
    <div class="card text-center text-white bg-secondary mb-3" style="width: 18rem;"
         *ngFor="let lekcja of getExtraLessonSelectedCourse()">
      <div class="card-header">Ciekawostka</div>
      <div class="card-body">
        <h5 class="card-title ">{{lekcja.name}}</h5>
        <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).unlocked">
          <p class="card-text">Kup dostęp</p>
        </div>
        <div *ngIf="getDataLoggedUserAboutLesson(lekcja).unlocked">
          <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).completed">
            <p class="card-text bg-danger text-center">Lekcja Nieukończona</p>
          </div>
          <div *ngIf="getDataLoggedUserAboutLesson(lekcja).completed">
            <p class="card-text bg-success text-center">Lekcja Ukończona</p>
          </div>
          <a routerLink="/lekcja-kurs" class="btn btn-primary">Rozpocznij</a>
        </div>
        <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).unlocked">
          <button (click)="buy(lekcja.id,lekcja.cost)" class="btn btn-primary">Kup</button>
          <p class="card-text">Koszt: {{lekcja.cost}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" role="alert">
  Sprawdziany
</div>

<div class="container-fluid">
  <div class="row">
    <div class="card text-center text-white bg-secondary mb-3" style="width: 18rem;"
         *ngFor="let lekcja of getTestLessonSelectedCourse()">
      <div class="card-header">Sprawdzian</div>
      <div class="card-body">
        <h5 class="card-title ">{{lekcja.name}}</h5>
        <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).unlocked">
          <p class="card-text">Kup dostęp</p>
        </div>
        <div *ngIf="getDataLoggedUserAboutLesson(lekcja).unlocked">
          <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).completed">
            <p class="card-text bg-danger text-center">Lekcja Nieukończona</p>
          </div>
          <div *ngIf="getDataLoggedUserAboutLesson(lekcja).completed">
            <p class="card-text bg-success text-center">Lekcja Ukończona</p>
          </div>
          <a routerLink="/lekcja-kurs" class="btn btn-primary">Rozpocznij</a>
        </div>
        <div *ngIf="!getDataLoggedUserAboutLesson(lekcja).unlocked">
          <button (click)="buy(lekcja.id,lekcja.cost)" class="btn btn-primary">Kup</button>
          <p class="card-text">Koszt: {{lekcja.cost}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-stopka></app-stopka>
